aiofiles~=24.1.0
cachetools~=6.1.0
kurigram~=2.2.7
meval~=2.5
ntgcalls~=2.0.5
pillow~=11.3.0
psutil~=7.0.0
py-yt-search~=0.3
pycryptodome~=3.23.0
pydantic~=2.11.7
pymongo~=4.13.2
py-tgcalls~=2.2.5
pytgcrypto~=1.2.11
pytdbot~=0.9.6.dev1
pytz~=2025.2
tdjson~=1.8.51
ujson~=5.10.0
yt-dlp~=2025.7.21
